
.App {
  display: flex;
  box-sizing: border-box;
  border: solid black 3px;
}

.left-side {
  margin-left: 20px;
  width: 50%;
  height: 98vh;
  background: beige;
  margin-top: 0.12%;
  margin-left: 0.12%;
  margin-bottom: 0.12%;
  border: solid orange 3px;
}

.right-side {
  width: 50%;
  height: 98vh;
  background: beige;
  margin-top: 0.12%;
  margin-right: 0.12%;
  margin-left: 0.5%;
  margin-bottom: 0.12%;
  border: solid brown 3px;
}

.left-header, .right-header {
  text-align: center;
  background: beige;
  width: 98%;
  height: 10%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-bottom: 0.2%;
  margin-left: 0.5%;
  border: solid blue 3px;
}

.search-bar {
  text-align: center;
  background: beige;
  width: 98%;
  height: 10%;
  padding-top: 1%;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  border: solid green 3px;
}

.worker-list {
  width: 98%;
  height: 73.9%;
  margin-left: 0.5%;
  border: solid #c48ca3 3px;
}

.employee {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  background: beige;
  width: 98%;
  height: 20%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-bottom: 0.2%;
  margin-left: 0.5%;
  border: solid #d83f3f 3px; 
}

img {
  border-radius: 2px;
  width: 14%;
}
h5 {
  font-size: 18px;
  margin: 0 10px 0 0;
}
p {
  margin: 40px 30px 30px 10px;
}